
/* Estilos generales para el cuerpo de la página */
body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Estilos para la barra de navegación principal */
.navbar {
  background-color: #3a3f49;
  padding: 2px;
  width: 100%;
  position: sticky;
}

.menu {
  list-style: none;
  margin: 70px 10px 10px 10px;
  display: flex;
  justify-content: center;
}

/* Estilos para los elementos del menú principal */
.menu-item {
  margin: 0;
}

.menu-item a {
  text-decoration: none;
  color: #eff6ee;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  display: block;
  transition: color 0.3s;
  font-family: "Times New Roman", Times, serif;
}

/* Estilos para el submenú */
.submenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  background-color: #444;
}

.menu-item:hover .submenu {
  display: block;
}

/* Estilos para enlaces dentro del submenú */
.submenu li a {
  color: #ddd;
  padding: 5px;
  display: block;
  text-decoration: none;
  font-size: 15px;
}

.submenu li a:hover {
  background-color: #90add0;
}

/* Espaciado adicional para las secciones de cada categoría */
.menu-item:not(:last-child) {
  border-bottom: 1px solid #444;
}

/* Estilos para los iconos (lupa y carrito) */
.icons {
  display: flex;
  align-items: center;
  justify-content: right;
  position: absolute;
  right: 15px;
  top: 25px;
}

.icons a {
  text-decoration: none;
  color: #eff6ee;
  font-size: 20px;
  margin-left: 15px;
  transition: color 0.3s;
}

.icons a:hover {
  color: #9197ae;
}

.zapatos {
  background-color: #eff6ee;
  height: 100px;
  width: 100px;
  margin: 20px;
  border-radius: 5px;
  display: grid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.preuProducte {
  font-size: 10px;
  font-family: "Times New Roman", Times, serif;
}

.nomProducte {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
  font-family: "Times New Roman", Times, serif;
}

.contentZapatos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px;
  width: 10px;
  

}



.portada {
  display: inline-block;
  margin-top: 50px;
}

.card {
  box-sizing: border-box;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  position: relative;
  right: -300px;
  width: 750px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: inline-block;
  user-select: none;
  font-weight: bolder;
  color: black;
  margin-top: 25px;
  font-family: "Times New Roman", Times, serif;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

/* Contenedor principal del producto */
.product-container {
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 300px;
  height: 100px;
}

/* Tarjeta de producto */
.product-card {
  width: 200px;
  height: 450px;
  background-color: #ffffffd3;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  padding-left: 20px; 
}

/* Imagen del producto */
.product-image {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}

/* Título del producto */
.product-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 8px;
  font-family: "Times New Roman", Times, serif;
}

/* Descripción del producto */
.product-description {
  font-size: 20px;
  color: #666;
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
}

/* Precio del producto */
.product-price {
  font-size: 15px;
  color: #f20707;
  font-weight: bold;
  margin-bottom: 12px;
  font-family: "Times New Roman", Times, serif;
}

/* Botones de compra */
.product-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-buttons button {
  width: 200px;
  padding: px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

/* Botones específicos */
.buy-now-btn {
  background-color: #61abdc;
}

.add-to-cart-btn {
  background-color: #6200ff;
}


/* Botón de regresar */
#buto-cancelar {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-bottom: 8px;
  left: 225px;
  position: relative;
  align-self: flex-start;
}

.fonsOscur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.fonsAccioUsu {
  position: fixed;
  width: 250px;
  height: 250px;
  top: 0;
  left: 0;
}

.cart-button {
  position: absolute;
  right: 10px;
  top: 8px;
  background-color: #61abdc;
  color: white;
  border: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-size: 0.5rem;
  font-family: "Times New Roman", Times, serif;
  border-radius: 5px;
}

.cart-button:hover {
  background-color: #6200ff;
}

.products {
  padding: 1rem;
  text-align: center;
}

.product {
  background-color: #fff;
  margin: 0.5rem auto;
  padding: 0.5rem;
  width: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos del carrito deslizante */
#cart {
  position: fixed;
  top: 0;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  right: 0;
  overflow: hidden;
  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  white-space: nowrap;
  font-size: 20px;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
}

.cart-closed {
  width: 0;
}

.cart-open {
  width: 300px;
}

.cart-header {
  padding: 0.5rem;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imatgesCar {
  width: 100px;
  height: auto;
  border-radius: 5px;
  padding-left: 20px;
}

.cart-header h2 {
  font-size: 40px;
  margin: 0;
}

.cart-content {
  flex-grow: 1;
  overflow-y: scroll;
}

.close-cart {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.comprarCarrito {
  background-color: #c82333;
  color: white;
  border: none;
  padding: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px;
  font-family: "Times New Roman", Times, serif;
}

.comprarCarrito:hover {
  background-color: #a71c24;
}

.cancelarCompra {
  background-color: #cccccc;
  color: black;
  border: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-size: 0.5rem;
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
}

.cancelarCompra:hover {
  background-color: #a8a7a7;
}

.brossaProducte {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  padding-top: 5px;
  padding-right: 15px;
  top: 150px;
}

.brossaProducteCheck {
  width: 20px;
  height: 20px;
  padding-top: 15px;
}

#imgLandingPage {
  width: 100%;
}

#imgLandingPage img{
  width: 100%;
  left: 0;
}

/* Contenedor del pie de página de checkout */
.checkoutFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgb(253, 252, 252);
  border-radius: 8px;
  width: 350px;
}

/* Imagen del producto */
.productoImagen img {
  width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}

/* Imagen de la basura (eliminar producto) */
.imagenBasura {
  width: 30px;
  height: auto;
  cursor: pointer;
  padding-bottom: 100px;
}

/* Estilo del nombre del producto */
.checkoutProd h3 {
  font-size: 25px;
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "Times New Roman", Times, serif;
}

/* Estilo del precio */
.checkoutProd p {
  font-size: 45px;
  color: #f20707;
  margin-bottom: 8px;
  font-family: "Times New Roman", Times, serif;
}

/* Estilo del input de cantidad */
.inputQuantitat {
  font-size: 0.75em;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40px;
  text-align: center;
  margin-bottom: 10px;
}
.enllaços p{
  font-size: 20px;
  border-bottom: 1px solid rgb(31, 58, 86);
  

}

#accionsUsuari .contingut{
  padding: 10px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
}

#butoDadesUsuari {
  padding: 15px 5px;
}
#butoAccUsuari{
  padding: 15px 5px;
 margin-top: 10px;
 position: absolute;


}

/* Estilo para el texto "Total carrito" */
.checkoutFooter h3 {
  padding-top: 5px;
  font-size: 30px;
  color: #333;
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
}

/* Estilo para el precio dentro del texto */
.checkoutFooter h3 span {
  font-weight: bold;
  color: #f20707;
  font-size: 20px;
}

/* Botones de compra y continuar */
.comprarCarrito {
  width: 200px;
  height: 40px;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  margin-bottom: 8px;
  padding-bottom: 10px;
}

.cancelarCompra {
  width: 200px;
  height: 40px;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  margin-bottom: 8px;
  padding-bottom: 10px;
}

/* Color específico para cada botón */
.comprarCarrito {
  background-color: #61abdc;
}

.cancelarCompra {
  background-color: #6200ff;
}

.dadesProdCheck {
  flex-grow: 1;
  padding-left: 10px;
}
.dadesProducte{
  width: 100px;
  height: 100px;
}
.dadesProducte img{
  width: 50px;
  height: 50px;
}

.dadesProdCheck p {
  font-size: 20px;
  font-weight: bold;
  margin: 2.5px 0;
}

#accionsUsuari {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  position: absolute;
  background-color: rgb(183, 183, 202);
  left: 80px;
  top: 0px;
  z-index: 1001;
  border-radius: 5px;
}

#cancelAccUsu {
  position: absolute;
  top: 8px;
  right: 8px;
  margin-bottom: 100px;
}

#butoAccUsu {
  cursor: pointer;
  width: 250px;
  padding: 10px;
  background-color: #251c1c;
  color: white;
  margin-top: 5px;
}

#butoDadesUsuari {
  cursor: pointer;
  width: 100%;
  padding: 8px 2.5px;
  background-color: #251c1c;
  color: white;
  margin-top: 5px;
}

.enllacos {
  margin-top: 1.5em;
  
}

.enllgacsIniciat {
  margin-top: 0.5em;
}

@media (min-width: 600px) {
  .navbar{
    padding: 15px;
    position: sticky;
    top: 0;
  }

  /* Estilos de los items del menú principal */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
}


}