<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inici</title>
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <!-- Sección principal controlada por Vue.js -->
    <div id="appVue">
        <!-- Barra de navegación principal -->
        <nav class="navbar">
            <!-- Menú principal -->
            <ul class="menu">
                <li class="menu-item">
                    <a href="#" @click="mostrarLandingPage">Athleto</a>
                </li>
                <!-- Sección Hombres -->
                <li class="menu-item">
                    <a @click="filtrar(4)">Hombres</a>
                    <ul class="submenu">
                        <li><a @click="filtrar2(4,3)">Deporte</a></li>
                        <li><a @click="filtrar2(4,2)">Casual</a></li>
                        <li><a @click="filtrar2(4,1)">Running</a></li> 
                    </ul>
                </li>
                <!-- Sección Mujeres -->
                <li class="menu-item">
                    <a @click="filtrar(5)">Mujer</a>
                    <ul class="submenu">
                        <li><a  @click="filtrar2(5,3)">Deporte</a></li>
                        <li><a  @click="filtrar2(5,2)">Casual</a></li>
                        <li><a  @click="filtrar2(5,1)">Running</a></li> 
                    </ul>
                </li>

                <!-- Sección Niño -->
                <li class="menu-item">
                    <a @click="filtrar(6)">Niño</a>
                    <ul class="submenu">
                        <li><a @click="filtrar2(6,3)">Deporte</a></li>
                        <li><a @click="filtrar2(6,2)">Casual</a></li>
                        <li><a @click="filtrar2(6,1)">Running</a></li> 
                    </ul>
                </li>

                <!-- Sección Ofertas -->
                <li class="menu-item"><a href="#">Ofertas</a></li>
            </ul>

            <!-- Iconos de búsqueda y carrito -->
            <div class="icons">
                <a href="#" class="search-icon">🔍</a>
                <a href="#" class="cart-icon" @click="alternarCestella">🛒</a>
                <a href="#" style="font-size: 1em;" @click="mostrarAccionsUsuari">{{ titulo() }}</a>
            </div>
        </nav>

        <div v-if="visibleOpcUsuari" @click="ocultarAccionsUsuari" class="fonsAccioUsu"></div>
        <div v-if="visibleOpcUsuari" id="accionsUsuari">
            <div class="contingut">
                <div id="cancelAccUsu" @click="ocultarAccionsUsuari">✖</div>
                <div class="enllaços" :class="{ 'enllaçosIniciat': dadesUser }">
                    <p>Atenció al client</p>
                    <p>Idioma</p>
                    <p @click="logout" v-if="dadesUser">Logout</p>
                </div>
                <button v-if="!dadesUser" id="butoAccUsu" @click="mostrarProcesSessio">INICIAR SESSIÓ / REGISTRAR-SE</button>
                <button v-else id="butoDadesUsuari" @click="mostrarDadesUsuari">Dades usuari</button>
            </div>
        </div>
        <div v-if="visibleProSes" id="compte">
            <div id="compteHeader">
                <h1>Les teves dades</h1>
            </div>
            <div v-if="!mailExisteix" class="funcioUsuari">
                <div id="compteInfo">
                    <h4 style="text-align: center;">Registrat totalment GRATIS</h4>
                    <p>Al registrar-te obtindras:</p>
                    <ul>
                        <li>Accés a ofertes exclusives</li>
                        <li>Podras guardar el carrito i mirar-ho/moficar-ho desde qualsevol lloc</li>
                        <li>Un descompte del 15% en la primera compra</li>
                        <li>L'enviament et surt gratis a partir dels 40€</li>
                        <li>Enviaments a qualsevol lloc</li>
                    </ul>
                </div>
                <div id="compteMail">
                    <h4>Introdueix el teu correu electrònic</h4>
                    <div style="text-align: center;">
                        <input type="email" placeholder="example@example.com" v-model="user.mail">
                        <button @click="verificarMailExisteix">Continuar</button>
                        <button @click="visibleProSes=false;user.mail='';">Cancel·lar</button>
                    </div>
                </div>
            </div>
            <div v-else class="funcioUsuari">
                <div v-if="mailExisteix==1">
                    <h2>Inciar sessió</h2>
                    <h4>Introdueix la contrasenya</h4>
                    <div class="passInput">
                        <input :type="showPass?'text':'password'" v-model="user.pass">
                        <img @mousedown="showPass=true" @mouseup="showPass=false" @mouseleave="showPass=false"
                            src="img/ull.png" class="ullPass">
                    </div>
                    <button @click="loginUsuari">Login</button>
                    <p v-if="dadesUser=='error'">Credencials incorrectes</p>
                </div>
                <div v-if="mailExisteix==2" id="seccioRegistre">
                    <h2>Registre d'usuari</h2>
                    <p>Otorga les seguents dades</p>
                    <input type="text" placeholder="Nom" v-model="user.nom" style="margin-right: 10px;">
                    <input type="text" placeholder="Cognom" v-model="user.cognom">
                    <br>
                    <input type="text" placeholder="Nom usuari" v-model="user.nomUsuari" @blur="verificarNomUnic" :class="{ 'nomUsuariInvalid': nomExisteix }">
                    <p v-if="nomExisteix" style="color: red;">El nom ja existeix</p>
                    <br>
                    <input type="text" placeholder="Contrasenya" v-model="user.pass">
                    <br>
                    <button @click="registrarUsuari">Registrar-te</button>
                </div>
                <div v-if="mailExisteix==3">
                    <p>Dades usuari</p><!--Aqui hay que poner datos del perfil etc...-->
                    <button @click="infoUser">Obtenir dades user(consola)</button><!--este boton podria ser para guardar la informacion-->
                </div>
                <button @click="esborrarDades" v-if="mailExisteix!=3">Torna rere</button>
            </div>
        </div>
        <div v-if="!visibleProSes" id="pagina">
            <!-- Si visiblePort es verdadero, muestra la portada -->
            <div v-if="visiblePort" id="portada">
                <!-- Al hacer clic, alterna entre productos visibles y la portada -->
                <div @click="visibleProd=!visibleProd,visiblePort=!visiblePort" id="imgLandingPage">
                    <img class="card" src="./img/imgPortada.jpg">
                </div>
            </div>



            <!-- Contenido de productos mostrado cuando visibleProd es verdadero -->
            <div class="contentZapatos" v-if="visibleProd">

                
                <div  @click="mostrarProducte(index)" v-for="(prod, index) in llista.zapatillas"
                    :key="index" :id="'zapato' + index" class="zapatos">
                    <!-- Bucle que recorre la lista de zapatillas y muestra -->
                    <!-- Detalles del producto -->
                    <div class="dadesProducte">
                        <img :src="prod.imatge">
                        <div class="detalles">
                            <div class="nomProducte">
                                <p>{{ prod.nom }}</p>
                            </div>
                            <div class="preuProducte">
                                <p>{{ prod.preu }} €</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Vista del producto individual cuando es verdadero -->
            <div v-if="visibleActual">
                <div class="product-container">
                    <div class="product-card">
                        <!-- Botón para regresar a la vista anterior -->
                        <img @click="mostrarProductes" src="./img/cancelar.png" alt="Tornar enrere" id="buto-cancelar">
                        <div class="product-left">
                            <!-- Imagen del producto seleccionado -->
                            <img :src="actual.imatge" alt="Zapato deportivo" class="product-image">
                        </div>
                        <div class="product-right">
                            <!-- Información del producto seleccionado -->
                            <h2 class="product-title"> {{ actual.nom }}</h2>
                            <p class="product-description">{{actual.descripcio}}</p>
                            <p class="product-price">{{actual.preu}}€</p>
                            <!-- Botones para comprar o añadir al carrito -->
                            <div class="product-buttons">
                                <button class="buy-now-btn" @click="compraRapida">Comprar ahora</button>
                                <button class="add-to-cart-btn" @click="afegirProducte">Añadir al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div v-if="visibleCar" class="fonsOscur" @click="alternarCestella"></div>
            <!-- Carrito  -->
            <div id="cart" :class="{ 'cart-open': visibleCar, 'cart-closed': !visibleCar }">
                <div class="cart-header">
                    <h2>
                        <p>Carrito</p>
                    </h2>
                    <button id="close-cart" class="close-cart" @click="alternarCestella">X</button>
                </div>
                <div class="cart-content">
                    <div>
                        <ul style="padding: 0;">
                            <li v-for="(producte, index) in carrito.list" :key="index" class="producteCar">
                                <div>
                                    <div><img :src="producte.imatge" alt="Imagen de producto" class="imatgesCar">
                                    </div>
                                    <div>
                                        <div>
                                            <p>{{ producte.nom }}</p>
                                        </div>
                                        <div>
                                            <p>{{ producte.preu }} €</p>
                                        </div>
                                        <input type="number" v-model="producte.quantitat" @input="revisarQuantitat(index)" class="inputQuantitat">
                                        <input type="checkbox" v-model="carrito.productesComprar" :value="producte" @change="actualitzarPreuCarrito">   
                                    </div>
                                </div>
                                <div @click="eliminarProducte(index)"><img src="img/basura.png" class="brossaProducte"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cart-footer">
                    <h3>Total del carrito: <span>{{ carrito.preu }} €</span></h3>

                    <button class="comprarCarrito" @click="procesCheckout">Comprar</button>
                </div>
            </div>

            <div v-if="visibleCheck" id="checkout">
                <div v-if="compra.list.length>0">
                    <div class="checkoutContent">
                        <ul style="padding: 0;" class="checkoutProductes">
                            <li v-for="(producte, index) in compra.list" :key="index">
                                <div class="checkoutProd">
                                    <div><img :src="producte.imatge" alt="Imagen de producto"></div>
                                    <div class="dadesProdCheck">
                                        <div>
                                            <h3>{{ producte.nom }}</h3>
                                        </div>
                                        <div>
                                            <p>{{ producte.preu }} €</p>
                                        </div>
                                        <div><input type="number" v-model="producte.quantitat" @input="revisarQuantitatCompra(index)" class="inputQuantitat"></div>
                                        <div @click="eliminarProducteCompra(index)"><img src="img/basura.png" class="brossaProducteCheck"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="checkoutFooter">
                        <h3>Total carrito: <span>{{ compra.preu }} €</span></h3>
                        <button class="comprarCarrito" @click="pagament">Comprar</button>
                        <button class="cancelarCompra" @click="mostrarProductes">Continuar comprant</button>
                    </div>
                </div>
                <div v-else>
                    <h3 style="text-align: center;">No hi ha productes</h3>
                </div>
            </div>

            <div v-if="visiblePagament" id="pagament">
                <h3>Fes bizum a 111111111</h3>
                <button @click="compraFeta">Bizum fet</button>
            </div>
        </div>
    </div>

    <!--JavaScript principal -->
    <script type="module" src="./js/function.js"></script>
</body>

</html>